# Exclude everything
/*

# Except for default project files
!/build-aux
!/cmake
!/data
!/.github
!/.github/**
!/installer
!/src
!/tools
!/tools/**
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!THIRD_PARTY_NOTICES.md
!vcpkg.json

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
